 html, body {
    height: 100%;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
    

  } 
  
  .javascript {
    display: flex;
  }
  .container{
    width:30%;
    height:20%;
    display:flex;
    justify-content:center;
    padding: 10%; 
    position: absolute;
    border: 25px solid #ffffff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.4);
    
  }

  /* .borders {
    padding: 10%;
    height: 10%;
    display:flex;
    position: fixed;
    border: 25px solid #ffffff;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.4);
  } */
 /*  .frame {
      position: absolute;

  } */
  
  /* align-items:center;
  border: 25px solid #ffffff;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.4); */